services:
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password      
      MINIO_NOTIFY_AMQP_ENABLE: "on"
      MINIO_NOTIFY_AMQP_URL: "amqp://guest:guest@rabbitmq:5672"
      MINIO_NOTIFY_AMQP_EXCHANGE: "minio-events"
      MINIO_NOTIFY_AMQP_EXCHANGE_TYPE: "topic"
      MINIO_NOTIFY_AMQP_ROUTING_KEY: "s3"
      MINIO_NOTIFY_AMQP_DURABLE: "on"
      
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # AMQP port
      - "15672:15672" # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  minio_data:
  rabbitmq_data:
